footer
  background-color: #000
  color: #fff
  padding: 3rem 12rem
  .contact
    +fb(center, flex-start)
    gap: 5rem
    .heading
      text-transform: uppercase
      font-size: 5rem
    .email
      font-size: 22px
      a
        color: #fff
        text-decoration: none
