.form
  +fb(center, center)
  padding: 12rem
  gap: 8rem
  .left
    width: 40%
    .text-content
      p
        line-height: 1.7
  .right
    width: 60%
    form
      label
        display: block
        padding-bottom: 1rem
        font-size: 16px
      input
        padding: .5rem
        width: 100%
      legend
        padding-bottom: 1.5rem
      .name
        display: flex
        gap: 2rem
        padding-bottom: 2rem
        .first-name, .last-name
          width: 100%

