.form
  +fb(flex-start, center)
  padding: 12rem
  gap: 8rem
  background-color: #fff
  +below($m)
    flex-direction: column
    gap: 4rem
  +below($s)
    padding: 6rem 4rem
  .left
    width: 40%
    +below($m)
      width: 100%
    .text-content
      h2
        padding-bottom: 2rem
        +below($s)
          font-size: 4rem
      p
        line-height: 1.7
  .right
    width: 60%
    +below($m)
      width: 100%
    form
      label
        display: block
        padding-bottom: 1rem
        font-size: 16px
      input
        padding: 1.5rem 1rem
        width: 100%
        // max-width: 42rem
        font-size: 2rem
        // outline: 0
        border: 1px solid black
        &:hover, &:focus
          outline-color: #000
          // border-color: red
      legend
        padding-bottom: 1.5rem
      .name
        display: flex
        gap: 2rem
        padding-bottom: 2rem
        .first-name, .last-name
          width: 100%
      .date
        max-width: fit-content
        position: relative
        &::after
          position: absolute
          content: ""
          background-image: url('/assets/images/calendar.png')
          right: 0
          z-index: -1
          bottom: 2px
          height: 5rem
          width: 5rem
          background-size: 5rem
          background-repeat: no-repeat
        label
          margin-top: 2rem
          max-width: fit-content
        input
          position: relative
          cursor: pointer
          background-color: transparent
          &::placeholder
            color: #000
      button[type=submit]
        margin-top: 2rem
        background-color: transparent
        padding: 2rem
        border-radius: 7rem
        border: 1px solid #000
        text-transform: uppercase
        font-size: 2.2rem
        cursor: pointer
        +transition
        &:hover
          background-color: #000
          color: #fff
          border-color: transparent
  .datepicker
    .datepicker-view
      width: 25.2rem
      .datepicker-cell
        height: 3.2rem
        &.selected
          background-color: #b99d6f
          color: #000
        &:not(.disabled)
          &:hover
            background-color: #dcdcdc
        &.next:not(.disabled)
          &:hover
            background-color: #dcdcdc
        &.focused.selected
          background-color: #b99d6f
        &.focused:not(.selected)
          background-color: #b99d6f
          font-weight: 600
    .datepicker-controls .button
      height: 3.2rem
      font-size: 1.6rem
      padding: calc(.6rem - 1px) 1.2rem
      &:hover
        background-color: #dcdcdc
    .dow
      height: 2.4rem
      font-size: 1.4rem


