html
  font-size: 10px
  scroll-behavior: smooth
  scroll-margin-top: -26.4px
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-size: 2rem
  font-family: $primaryFont
  background-color: #000
  p
    margin: 0
  h2
    font-size: 5rem
    margin: 0
