.header
  position: fixed
  top: 0
  left: 0
  right: 0
  color: #fff
  .nav-menu
    padding-right: 10rem
    +fb(center, flex-end)
    gap: 4rem
    a
      color: #fff
      text-decoration: none
      font-size: 2.2rem
      li
        list-style: none
