.hero
  background-image: url(/assets/images/Main_header.png)
  background-repeat: no-repeat
  background-position-y: -5rem
  background-size: cover
  // padding: 10rem
  /* height: clamp(30rem, 48vw, 111rem); */
  display: flex
  align-items: flex-end
  justify-content: flex-start
  padding: 68rem 10rem 1rem
  h1
    text-transform: uppercase
    color: #fff
    font-size: 6rem