.quote-two
  background: linear-gradient(90deg, #d2bc5e,#cc8f86, #aaada3 )
  text-align: center
  padding: 20rem 10rem
  p
    max-width: 157rem
    margin: 0 auto
    font-size: 3rem
    color: #fff
    font-size: 6rem
  span
    color: #fff
    padding-top: 2rem
    display: block