.two-column-host
  background-color: #000
  color: #fff
  +fb(stretch, center)
  padding: 12rem
  gap: 5rem
  .left, .right
    width: 50%
    +fb(center, flex-start)
    flex-direction: column
    .text-content
      max-width: 48rem
      margin: 0 auto
    .button
      text-decoration: none
      border: 1px solid #fff
      padding: 2rem 4rem
      color: #fff
      border-radius: 7rem
      text-transform: uppercase
      min-width: 13rem
      text-align: center
    p
      padding-top: 5rem
      line-height: 1.7