.two-column-host
  background-color: #000
  color: #fff
  +fb(stretch, center)
  padding: 12rem
  gap: 5rem
  +below($m)
    flex-direction: column
  +below($s)
    padding: 6rem 4rem
  .left, .right
    width: 50%
    +fb(center, flex-start)
    flex-direction: column
    +below($m)
      width: 100%
    .text-content
      max-width: 48rem
      margin: 0 auto
      +below($m)
        max-width: unset
        text-align: center
    .button
      text-decoration: none
      border: 1px solid #fff
      padding: 2rem 4rem
      color: #fff
      border-radius: 7rem
      text-transform: uppercase
      min-width: 13rem
      text-align: center
      +transition
      &:hover
        background-color: #fff
        color: #000
    p
      padding-top: 5rem
      line-height: 1.7