@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700");
html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}
body p {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: all 0.3s ease-out;
  padding: 1.5 0;
}
.header.active {
  background-color: rgba(0, 0, 0, 0.7);
}
.header .nav-menu {
  padding-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}
.header .nav-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
}
.header .nav-menu a li {
  list-style: none;
}

.hero {
  background-image: url(/assets/images/Main_header.png);
  background-repeat: no-repeat;
  background-position-y: -5rem;
  background-size: cover;
  /* height: clamp(30rem, 48vw, 111rem); */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 68rem 10rem 1rem;
}
.hero h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 6rem;
}

.two-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #000;
  color: #fff;
  padding: 12rem;
}
.two-column .left, .two-column .right {
  width: 50%;
}
.two-column .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.two-column .right .heading span {
  display: block;
}
.two-column .right .heading h2 {
  font-size: 5rem;
  text-transform: uppercase;
}
.two-column .right .text-content p {
  line-height: 1.7;
  max-width: 46rem;
  font-weight: 200;
}
.two-column .right .text-content p span {
  font-style: italic;
  font-weight: 800;
}

.quote {
  background-color: #000;
  text-align: center;
  padding-bottom: 10rem;
}
.quote p {
  max-width: 70rem;
  margin: 0 auto;
  font-size: 3rem;
  color: #b79b6f;
}
.quote span {
  color: #b79b6f;
  padding-top: 2rem;
  display: block;
}

.picture-row {
  display: flex;
  height: 30rem;
}
.picture-row img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.quote-two {
  background: linear-gradient(90deg, #d2bc5e, #cc8f86, #aaada3);
  text-align: center;
  padding: 20rem 10rem;
}
.quote-two p {
  max-width: 157rem;
  margin: 0 auto;
  font-size: 3rem;
  color: #fff;
  font-size: 6rem;
}
.quote-two span {
  color: #fff;
  padding-top: 2rem;
  display: block;
}

.two-column-host {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 12rem;
  gap: 5rem;
}
.two-column-host .left, .two-column-host .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.two-column-host .left .button, .two-column-host .right .button {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 7rem;
  text-transform: uppercase;
}
.two-column-host .left p, .two-column-host .right p {
  padding-top: 5rem;
  line-height: 1.7;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem;
  gap: 8rem;
}
.form .left {
  width: 40%;
}
.form .left .text-content p {
  line-height: 1.7;
}
.form .right {
  width: 60%;
}
.form .right form label {
  display: block;
  padding-bottom: 1rem;
  font-size: 16px;
}
.form .right form input {
  padding: 0.5rem;
  width: 100%;
}
.form .right form legend {
  padding-bottom: 1.5rem;
}
.form .right form .name {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}
.form .right form .name .first-name, .form .right form .name .last-name {
  width: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 12rem;
}
footer .contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}
footer .contact .heading {
  text-transform: uppercase;
  font-size: 5rem;
}
footer .contact .email {
  font-size: 22px;
}
footer .contact .email a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
